@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");

* {
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: "Libre Baskerville", serif;
  min-height: 100vh;

}
/* Header */
h2 {
  width: 450px;
  display: flex;
  justify-content: center;
}
h4 {
  width: 450px;
  margin-bottom: 0;
  margin-top: 50px;
}

/* Balance */
h1 {
  margin: 0;
  letter-spacing: 1px;
}

/* Income-Expense */

.inc-exp {
  height: 12vh;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: none;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  font-weight: bold;
}
.income {
  display: flex;
  flex-direction: column;
  align-items: center;
 
 
}
.expense {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
.income span{
    color: green;
}
.expense span{
     color: red;
}
/* History */
h3{
    border-bottom: 1px solid;
    padding-bottom: 4px;
    margin-top: 45px;
}

.list{
  
    list-style-type: none;
    padding: 0;
    margin-bottom: 50px;
    
}

li{
  display: flex;
  justify-content: space-between;
  padding: 8px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
  position: relative;
}
.delete-btn{
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;

}
li:hover .delete-btn {
  opacity: 1;
}

.a{
border-right: 3px solid red;
}
.b{
border-right: 3px solid green;
}
/* Add Transaction */
.addTransaction{
    display: flex;
   flex-direction: column;
   gap: 12px;   
}
.text{
    resize: none;
    width: 440px;
    align-self: center;
    border: none;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
    padding: 5px;
}
.Amount{
    resize: none;
    width: 440px;
    align-self: center;
    border: none;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
    padding: 5px;
}
button{
    background-color:green;
    padding: 12px;
    font-size: 15px;
    color: white;
    border: none;

}
button:hover{
    cursor: pointer;
}

